<!DOCTYPE html>
<html>
<head>
	<title>FaShIoN tRenDS</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		*{
			margin: auto;
			padding: 0;
			box-sizing: border-box;
		}
	</style>
</head>
<body>
	<!--Showcase and Nav-->
	<div id="showcase"style="background: url('wall3.png')no-repeat center/cover;400px;">
		<header>
			<nav class="cf">
				<ul class="cf">
					<li>
						<a href="project1.html">Latest Trends</a>
					</li>
					<li>
						<a href="#aboutus">About us</a>
					</li>
					<li>
						<a href="Essentials.html">Essentials</a>
					</li>
					<li>
						<a href="Men.html">Men</a>
					</li>
					<li>
						<a href="#Women">Women </a>
					</li>
					<li>
						<a href="#Kids">Kids</a>
					</li>
				</ul>
				
			</nav>
		</header>
	</div>

	<div class="small-container">
		<div class="row row-2">
			<h2>All products</h2>
			<select>
				<option value="">Default Sorting</option>
				<option value="">Sort by price</option>
				<option value="">Sort by popularity</option>
				<option value="">Sort by rating</option>
				<option value="">Sort by sale</option>
			</select>
		</div>

		<div class="row">
			<div class="col-4">
				<img src="images/s1.jpeg" alt="" />
				<h4>Men White & Black U.S. Polo Assn.</h4>
				<div class="rating">
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star"></i>
				</div>
				<p>$1000.00</p>
			</div>

			<div class="col-4">
				<img src="images/s2.jpg" alt="" />
				<h4>Killer Men Blue Solid Mesh Sneakers</h4>
				<div class="rating">
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star"></i>
				</div>
				<p>$1500.00</p>
			</div>

			<div class="col-4">
				<img src="images/s3.png" alt="" />
				<h4>Men Blue Street Run 2.0 Running Shoe</h4>
				<div class="rating">
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star"></i>
				</div>
				<p>$2249.00</p>
			</div>

			<div class="col-4">
				<img src="images/s4.png" alt="" />
				<h4>Brown mast& harbour shoes</h4>
				<div class="rating">
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star"></i>
				</div>
				<p>$800.00</p>
			</div>
		</div>

		<div class="page-btn">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>&#8594;</span>
			</div>
			</div>	








        <hr>
		<footer>
			<div class="container">
				<div class="footer-cols">
					<ul>
						<li>Men's Top Wear </li>
						<li>
							<a href="#">T-Shirts</a>
						</li>
						<li>
							<a href="#">Formal Shirts</a>
						</li>
						<li>
							<a href="#">Casual shirts</a>
						</li>
						<li>
							<a href="#">Kurtas</a>
						</li>
						<li>
							<a href="#">Blazers</a>
						</li>
					</ul>

					<ul>
						<li>Men's Bottom Wear</li>
						<li>
							<a href="#">Jeans</a>
						</li>
						<li>
							<a href="#">Trousers</a>
						</li>
						<li>
							<a href="#">Track pants</a>
						</li>
						<li>
							<a href="#">Shorts</a>
						</li>
						<li>
							<a href="#">Cargos</a>
						</li>
					</ul>

					<ul>
						<li>Women Ethnic</li>
						<li>
							<a href="#">Women Sarees</a>
						</li>
						<li>
							<a href="#">Women's Kurtas</a>
						</li>
						<li>
							<a href="#">Women's Dress Materials</a>
						</li>
						<li>
							<a href="#">Women Western</a>
						</li>
						<li>
							<a href="#">Women Jeans</a>
						</li>
					</ul>

					<ul>
						<li>Kids Ethnic</li>
						<li>
							<a href="#">Boys & Girls T-Shirts</a>
						</li>
						<li>
							<a href="#">Boys & Girls Jeans</a>
						</li>
						<li>
							<a href="#">Boys & Girls Shorts</a>
						</li>
						<li>
							<a href="#">Boys & Girls Innerwear</a>
						</li>
						<li>
							<a href="#">Girls Dresses</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				Copyright &copy;2022 FaShIoN tRenDS
			</div>
		</footer>






</body>
</html>