
<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>FaShIoN tRenDS</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<!--Showcase and Nav-->
	<div id="showcase">
		<header>
			<nav class="cf">
				<ul class="cf">
					<li>
						<a href="#showcase">Latest Trends</a>
					</li>
					<li>
						<a href="#aboutus">About us</a>
					</li>
					<li>
						<a href="#Essentials">Essentials</a>
					</li>
					<li>
						<a href="#Men">Men</a>
					</li>
					<li>
						<a href="#Women">Women </a>
					</li>
					<li>
						<a href="#Kids">Kids</a>
					</li>
				</ul>
				
			</nav>
		</header>
		<div class="section-main container">
			<h1>FaShIoN tRenDS</h1>
			<h2>Find your happy colors.They’re the ones that make you feel good inside</h2>
			<p class="lead hide-on-small">
				There are so many different types of fashion styles to choose from. It can be difficult and overwhelming to pick the right one for you. Your preferred style can depend on your budget, taste, lifestyle, activities, location, culture, and current season.
			</p>
		</div>
	</div>

	<hr>
		<section id="aboutus" class="section">
			<div class="container">
				<h2 class="section-head">About us</h2>
				<p class="lead">For media, partnerships, advertising, and similar inquiries see our FaShIoN tRenDS. For anything else, feel free to  <a href="#contact us here">contact us here</a></p>
				<a href="register.html" class="btn btn-primary mb">Start your Trail Now</a>

			</div>
		</section>

		<hr>
		<section id="Essentials" class="section">
			<div class="container">
				<h2 class="section-head">Essentials</h2>
				<h3>Fashion Essentials You Need To Start The Season In Style</h3>
				<p class="lead">20 SUMMER WARDROBE ESSENTIALS YOU NEED.While we all love trends, no wardrobe is complete without the essentials. They’re the items that you turn to in order to create almost every outfit. From the simple white t-shirt to the classic maxi dress, they are the pieces that every summer closet requires. So, if you want to up your style game this sunny season, you need to know what they are. We have created a list to guide you through all the must-have summer staples so that you can have your most chic season ever.</p>
				<a href ="Essentials.html" class="btn btn-secondary">Read more</a>
			</div>
		</section>

		<hr>
		<section id="Men" class="section">
			<div class="container">
				<h2 class="section-head">Men</h2>
				<h3>ONLY THE FINEST</h3>
				<p class="lead">At Menfashion we give fashion forward men, quick access to the finest, premium-quality, designer clothes for men. Not only that, our online selection is comprised of versatile, exclusive and unique looks made with you in mind. You can always be confident, not only when wearing our shirts, but in our unrivaled customer service and affordable premium quality collections fresh off the catwalk..</p>
				<a href ="Men.html" class="btn btn-secondary">Read more</a>
		<footer>
			<div class="container">
				<div class="footer-cols">
					<ul>
						<li>Men's Top Wear </li>
						<li>
							<a href="#">T-Shirts</a>
						</li>
						<li>
							<a href="#">Formal Shirts</a>
						</li>
						<li>
							<a href="#">Casual shirts</a>
						</li>
						<li>
							<a href="#">Kurtas</a>
						</li>
						<li>
							<a href="#">Blazers</a>
						</li>
					</ul>

					<ul>
						<li>Men's Bottom Wear</li>
						<li>
							<a href="#">Jeans</a>
						</li>
						<li>
							<a href="#">Trousers</a>
						</li>
						<li>
							<a href="#">Track pants</a>
						</li>
						<li>
							<a href="#">Shorts</a>
						</li>
						<li>
							<a href="#">Cargos</a>
						</li>
					</ul>

					<ul>
						<li>Women Ethnic</li>
						<li>
							<a href="#">Women Sarees</a>
						</li>
						<li>
							<a href="#">Women's Kurtas</a>
						</li>
						<li>
							<a href="#">Women's Dress Materials</a>
						</li>
						<li>
							<a href="#">Women Western</a>
						</li>
						<li>
							<a href="#">Women Jeans</a>
						</li>
					</ul>

					<ul>
						<li>Kids Ethnic</li>
						<li>
							<a href="#">Boys & Girls T-Shirts</a>
						</li>
						<li>
							<a href="#">Boys & Girls Jeans</a>
						</li>
						<li>
							<a href="#">Boys & Girls Shorts</a>
						</li>
						<li>
							<a href="#">Boys & Girls Innerwear</a>
						</li>
						<li>
							<a href="#">Girls Dresses</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				Copyright &copy;2022 FaShIoN tRenDS
			</div>
		</footer>






</body>
</html>